In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("spacex_launch_dash.csv")

In [4]:
df.columns

Index(['Unnamed: 0', 'Flight Number', 'Launch Site', 'class',
       'Payload Mass (kg)', 'Booster Version', 'Booster Version Category'],
      dtype='object')

In [11]:
df['Launch Site'].unique().tolist()

options = [{'label': 'All Sites', 'value': 'All'}] + [{'label': i, 'value': i} for i in df['Launch Site'].unique().tolist()]
options

[{'label': 'All Sites', 'value': 'All'},
 {'label': 'CCAFS LC-40', 'value': 'CCAFS LC-40'},
 {'label': 'VAFB SLC-4E', 'value': 'VAFB SLC-4E'},
 {'label': 'KSC LC-39A', 'value': 'KSC LC-39A'},
 {'label': 'CCAFS SLC-40', 'value': 'CCAFS SLC-40'}]

In [7]:
df.head()

,Unnamed: 0,Flight Number,Launch Site,class,Payload Mass (kg),Booster Version,Booster Version Category
0,0,1,CCAFS LC-40,0,0.0,F9 v1.0 B0003,v1.0
1,1,2,CCAFS LC-40,0,0.0,F9 v1.0 B0004,v1.0
2,2,3,CCAFS LC-40,0,525.0,F9 v1.0 B0005,v1.0
3,3,4,CCAFS LC-40,0,500.0,F9 v1.0 B0006,v1.0
4,4,5,CCAFS LC-40,0,677.0,F9 v1.0 B0007,v1.0

In [8]:
def recode(x):
    if x == 1:
        return 'Success'
    else:
        return 'Fail'

In [9]:
df['Class Label'] = df['class'].apply(recode)
df.head()

,Unnamed: 0,Flight Number,Launch Site,class,Payload Mass (kg),Booster Version,Booster Version Category,Class Label
0,0,1,CCAFS LC-40,0,0.0,F9 v1.0 B0003,v1.0,Fail
1,1,2,CCAFS LC-40,0,0.0,F9 v1.0 B0004,v1.0,Fail
2,2,3,CCAFS LC-40,0,525.0,F9 v1.0 B0005,v1.0,Fail
3,3,4,CCAFS LC-40,0,500.0,F9 v1.0 B0006,v1.0,Fail
4,4,5,CCAFS LC-40,0,677.0,F9 v1.0 B0007,v1.0,Fail

In [ ]:
dcc.Dropdown(id='id',
                options=[
                    {'label': 'All Sites', 'value': 'ALL'},
                    {'label': 'site1', 'value': 'site1'},
                ],
                value='ALL',
                placeholder="place holder here",
                searchable=True
                ),